@media only screen and (max-width:1380px ){
	.background ,.background2 ,.sec-block{
		width: 1250px;
	}
}
@media only screen and (max-width:1240px ){
	.img3{
		display: none;
	}
	.right-block{
		display: flex;
		flex-direction: column;
	}
	.img1{
		margin-left: 15px;
	}
	.background , .background2,{
		width: 1150px;
	}
	.burger-icon{
		display: block;
		float: right;
	}
	.list{
		display: none;

	}
	.block1{
		
		margin-left: 150px;
	}
	.block2{
		display: none;
		
	}
	@media only screen and (max-width:600px ){
		.background , .background2,.sec-block{
			width: 570px;
		}
		.right-block{
			display: none;
		}
		.blocks{
			display: flex;
			flex-direction: column;

		}
		.block3{
			display: none;

		}
		.block1{
			margin-left: auto;
			margin-right: auto;
		}
		.left-block{
			margin-left: 50px;
		}
	}
}